{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content
    %}
    <div id="welcomeMsg" style="text-align: center;">
      <h1>Welcome 2 {{user.name}}
        {% if user.role == 1 %}
          <span>(Admin)</span>
        {% endif %}
  </h1>
  </div>
  <div id="bookNowButton" style="text-align: center;">
      <input type="button" class="btn btn-primary" id="booknow" value="Book Now">
  </div>
<br>
  <img style="width: 100%;" src="./static/bus.jpg" alt=""/>
    {% endblock %}

