{% extends 'base.html' %}
<title>{% block title %} SignUp {% endblock %}</title>
{% block content %} 
<div style="width: 60%;">
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter FullName"
      />
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Enter PhoneNo"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" name="category" class="form-select" aria-label="Default select example">
        <option selected value="0">Select Category</option>        
        {% for item in categories %}
          <option value="{{item.id}}">{{item.name}}</option>
        {% endfor %}
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
